.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
    background-color: #343A40 !important;
    color:#FFFFFF  !important;
    font-family: "Poppins" !important;
    font-weight:400 ;
    font-size: 15px;
}
.css-1r9jet7{
    justify-content: center !important;
}
.logo{
    font-size: 24.62px;
    font-weight: 600;
    font-family: "Poppins";
    color: #ffff;
}
.prof{
    width: 33px;
    height: 33px;
    border-radius: 33px;
}